<div class="container">
<h2> Current Posts </h2>
</div>
{{#each posts as |post|}}
<div class="container mb-3">
  <div class="card">
    <div class="card-header">
      {{post.title}}
    </div>
    <div class="card-body">
      
      <h5 class="card-title">{{post.title}} {{post.user.username}}</h5>
   
      <p class="card-text">{{post.content}}</p>
    </div>
  </div>
</div>
{{/each}}

<div class="container new-post-form">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Title:</label>
    <input type="" class="form-control" id="titleInput" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Content</label>
    <input type="" class="form-control" id="contentInput">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>



{{!-- <!-- This is the form for adding a new dish -->
<div class="add-post-container">
  <h2>
    Add a Post:
  </h2>
  <form class="new-post-form">
    <label for="post_title">
      Title:
    </label>
    <br />
    <textarea id="post_title" name="post_title" rows="2" cols="30">
      {{title}}
    </textarea>
    <br />
    <label for="description">
      Comment:
    </label>
    <br />
    <textarea id="comment" name="description" rows="5" cols="30">
      {{comment}}
    </textarea>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>
</div> --}}

<script src="/js/new.js"></script>