<div class="container">
  <h2 class="mt-3"> Selected Post </h2>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>

      <p class="card-text">{{content}}</p>
      <p>Created by: {{user.username}}</p>
    </div>
  </div>
</div>



{{#each comments as |comment|}}
<div class="container">
  <h1>Commented by: {{comment.user.username}}</h1>
  <h2>{{comment.description}}</h2>
  {{!-- <h3>{{comment.user.username}}</h3> --}}
</div>
{{/each}}



{{#if logged_in}}
{{!-- FORM TO CREATE A NEW COMMENT --}}
<div class="container mb-5 mt-5 bg-info py-3 rounded shadow">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Comment:</label>
      <input type="comment" class="form-control" id="commentInput">
      <p id="post-id" class="custom-hidden">{{id}}</p>
    </div>
    <button type="submit" class="btn btn-primary new-comment-form">Submit</button>
  </form>
</div>

{{!-- FORM TO UPDATE A POST WHICH IS HANDLE BY THE EDIT-POST.JS --}}

<div class="container edit-post-form mb-5 shadow mt-3 pb-3 pt-3">
  <h2>Modify the post</h2>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Title:</label>
      <input type="" class="form-control" id="titleInput" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Content</label>
      <input type="" class="form-control" id="contentInput">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{{/if}}


<script src="/js/new-comment.js"></script>
<script src="/js/edit-post.js"></script>